.busqueda{

	margin: 0 auto;
	margin-top: 50px;
	height: auto;
	width: 80%;
	background: #fff;
	-webkit-border-radius: 10px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-topleft: 0;
	border-radius: 10px;
	border-top-left-radius: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;

}

.ida,.vuelta{

	width: 60%;
	height: 30px;
	border-bottom: 1px solid #ccc;
	padding-top:10px;
	padding-bottom: 5px;
	padding-left: 5px; 

}

.hora{

	width: 95%;
	float:inherit;
	border-bottom: 2px solid #ccc;
	padding-top:10px;
	padding-bottom: 5px;
	padding-left: 5px; 
}

.ida b ,.vuelta b,.hora b {

	color: #ff6600;
	font-size: 16px;

}

.precio{
	float: right;
	width:20%;
	margin-top: -10%;
}

.precio2{
	float: right;
	width:20%;
	margin-top: -8%;
}

.precio b,.precio2 b{

	color: #ff6600;
	font-size: 20px;

}

#reservar{

	background: #ff6600;
	width: 80px;
	height: 30px;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius:  5px;
	border: none;
	margin-top: 10px;
	margin-left: 10px;
}

#reservar:hover{

	background: #FF8D40;

}
.titulo{

		width: 150px;
		height: 30px;
		font-size: 16px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		background: #ff6600;
		color:#fff;
		float: left;
		margin-left: 9.4%;
		margin-top: 1%;
		padding-left: 10px;
		padding-top: 6px;
}

#atras{
	
	color: #ff6600;
}